* {
  margin: 0px;
  padding: 0px;
  font-family: "Electrolize", sans-serif;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

body {
  background-image: url("https://www.sortvisualizer.com/static/css/mainbg.jpg");
  font-family: "Electrolize", sans-serif;
}

nav {
  background-color: rgb(22, 22, 22);
  color: white;
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 10%;
  padding: 0% 5%;
}
nav .array-inputs {
  display: grid;
  grid-template-columns: 60% 40%;
  place-content: center;
  padding: 5% 0%;
}
nav .array-inputs #a_size {
  padding: 5% 0%;
}
nav .array-inputs #a_speed {
  padding: 5% 0%;
}
nav .array-inputs #a_generate {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  padding-top: 9%;
  margin-left: -10px;
}
nav .array-inputs #a_generate:hover {
  cursor: pointer;
}
nav .header_right {
  display: flex;
  flex-direction: column;
}
nav .header_right .nav-heading {
  display: inline-block;
  font-size: xxx-large;
  padding: 3% 0%;
  font-family: "Electrolize", sans-serif;
  margin-left: 26px;
}
nav .header_right .algos {
  display: grid;
  grid-template-columns: repeat(6, 16.667%);
  place-content: center;
  padding: 2% 0%;
}
nav .header_right .algos button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  padding: 5% 0%;
  font-size: x-large;
}
nav .header_right .algos button:hover {
  background-color: blue;
  cursor: pointer;
  border-radius: 5px;
}
nav .header_right .algos .butt_locked {
  background-color: transparent;
  cursor: pointer;
}
nav .header_right .algos .butt_locked:hover {
  background-color: transparent;
  cursor: pointer;
}
nav .header_right .algos .butt_selected {
  background-color: white;
  color: green;
}
nav .header_right .algos .butt_selected:hover {
  background-color: white;
  cursor: pointer;
}
nav .header_right .algos .butt_unselected:hover {
  background-color: blue;
  cursor: pointer;
}

section {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
section .Complexity_Containers {
  margin-top: 20%;
}
section .Complexity_Containers .Pair_Definitions {
  margin-top: 20%;
}
section .Complexity_Containers .Pair_Definitions p {
  display: inline;
}
section .Complexity_Containers .Pair_Definitions p.Sub_Heading {
  font-size: medium;
  text-transform: none;
}
section #Info_Cont1 {
  padding: 20% 10%;
  background-color: #161616;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: -12px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #E8E8E8;
}
section #Info_Cont1 h3 {
  text-decoration: underline;
  color: white;
}
section #Info_Cont1 p {
  color: white;
}
section #array_container {
  display: flex;
  width: 90%;
  height: 70vh;
  margin-left: 45px;
}
section #Info_Cont2 {
  padding: 20% 10%;
  background-color: #161616;
  margin-left: 8px;
  margin-top: 20px;
  margin-right: 15px;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #E8E8E8;
}
section #Info_Cont2 h3 {
  text-decoration: underline;
  color: white;
}
section #Info_Cont2 p {
  color: white;
}

.hide {
  display: none;
}

/*# sourceMappingURL=style.css.map */
